*{
    box-sizing: border-box;
    font-family: Montserrat;
}
a {
    text-decoration:none;
}
.header{
    max-width: 1050px;
    margin: 0 auto;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    letter-spacing: 2.7px;
    text-transform: uppercase;
    justify-content: flex-start;

}
.navigation{
margin: 31.5px 200px;
}
.menu{
    padding-inline-start: 0px;
    list-style: none;
    display: flex;
}
.menu_list{
    padding-right: 72px ;
}
.menu_link{
    color: red;
    text-decoration: none;
}
.photo{
    background-image: url("../img/image 1.png");
    background-size: cover;
    min-width: 1280px;
    min-height: 789px;
}
.content{
    display: flex;
    align-items: center;
    flex-direction: column;
}
.title{
    min-width: 1180px;
    margin: 0;
    padding:48px 253px 38px 253px;
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    line-height: 27px;
    align-items: center;
    text-align: center;
    letter-spacing: 3.3px;
    text-transform: uppercase;

    color: #373737;
}
.p_content{
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    letter-spacing: 2.4px;
    color: #373737;
    padding-left: 67.5px;
    padding-right: 67.5px;
}
.container{
    display: flex;
    max-width: 1050px;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
}
.button{
    margin-top: 66px;
    margin-bottom: 60px;
    display: flex;
    align-items: center;
    width: 191px;
    height: 51px;
    background: #FF0000;
    border-radius: 4px;
}
.button_text{
    padding-left: 42.5px;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 12px;
    display: flex;
    align-items: center;
    letter-spacing: 1.8px;
    text-transform: uppercase;
    text-decoration: none;
    text-underline: none;

    color: #FFFFFF;
}
.footer_wrapper{
    display: flex;
    justify-content: flex-end;
    margin-right: 105px;
    margin-bottom: 29px;
}
.copyright{
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    display: flex;
    align-items: center;
    letter-spacing: 2.4px;
    color: #373737;
}
